body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar{
    background-color: #000000;
    overflow: hidden;
    margin: 0;
}

#navbar ul{
    color: black;
    padding: 14px 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    list-style: none;
}

#navbar ul li a{
    text-decoration: none;
    color: rgb(197, 197, 199);
    font-weight: bold;
    cursor: pointer;
}

#navbar ul li a:hover{
    color: rgb(255, 255, 255);
}