:root {
    --colour1: #D8F3DC;
    --colour2: #B7E4C7;
    --colour3: #95D5B2;
    --colour4: #74C69D;
    --colour5: #52B788;
    --colour6: #40916C;
    --navbar-background: #2D6A4F;
    --colour8: #1B4332;
    --colour9: #081C15;

}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: var(--navbar-background);
    margin: 0;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 40px;
}
.navbar-left {
    display: flex;
    align-items: center;
    gap: 12px;  
    margin-right: 20px;
    justify-content: center;
}

.logo {
    margin: 0;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.navbar-menu li a {
    text-decoration: none;
    color: rgb(229, 229, 231);
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;

}

.navbar-menu li a:hover {
    color: #ffffff;
}

.homeBackground {
    width: 100%;
    height: calc(100vh - 70px - 50px); /* 减掉导航栏和页脚高度 */
    background-image: url("image/homeBackground.jpg");
    background-size: cover;      /* ⭐ 自动适配 */
    background-position: center; /* 居中裁切 */
    position: relative;
}


.homeBackground img {
    width: 100%;
    height: auto;
    display: block;
    
}

/* 让文字浮在图片上 */
.homeText {
    position: absolute;
    top: 50%;                /* 垂直居中 */
    left: 50%;               /* 水平居中 */
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    text-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.homeText h1 {
    font-size: 4vw;
    margin: 0;
}

.homeText p {
    font-size: 1vw;
}

footer {
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--navbar-background);
    color: rgb(229, 229, 231);
    text-align: center;
    padding: 10px 0;
}